<template>
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Список компаний</h2>
      <button class="btn btn-success" @click="createCompany">Создать компанию</button>
    </div>
    <ul class="list-group">
      <li
        v-for="company in companies"
        :key="company.id"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div>
          <a href="#" @click.prevent="openCompany(company)">
            #{{company.id}} {{ company.name }} - {{ company.address }}
          </a>
        </div>
        <div>
          <button class="btn btn-primary me-2" @click="editCompany(company)">Изменить</button>
          <button class="btn btn-danger" @click="deleteCompany(company)">Удалить</button>
        </div>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue';
import companyService from '@/services/companyService';
import { Company } from '@/types';
import router from '@/router';

export default defineComponent({
  name: 'CompanyList',
  setup() {
    const companies = ref<Company[]>([]);

    const createCompany = () => {
      router.push('/companies/new');
    };

    const fetchCompanies = async () => {
      try {
        const response = await companyService.getAll();
        console.log(response);
        companies.value = response.data;
        console.log(companies);
      } catch (error) {
        console.error('Error fetching companies:', error);
      }
    };

    const editCompany = (company: Company) => {
      if (company.id !== null) {
        router.push(`/companies/edit/${company.id}`);
      } else {
        console.error('Company ID is undefined');
      }
    };

    const openCompany = (company: Company) => {
      if (company.id !== null) {
        router.push(`/companies/${company.id}`);
      } else {
        console.error('Company ID is undefined');
      }
    };

    const deleteCompany = async (company: Company) => {
      if (company.id === null) {
        return;
      }
      if (confirm('Are you sure you want to delete this company?')) {
        try {
          await companyService.delete(company.id);
          fetchCompanies();
        } catch (error) {
          console.error('Error deleting company:', error);
        }
      }
    };

    onMounted(fetchCompanies);

    return {
      companies,
      editCompany,
      deleteCompany,
      openCompany,
      createCompany,
    };
  },
});
</script>
