<!-- frontend/src/components/CompanyForm.vue -->

<template>
  <form @submit.prevent="submitForm" class="container mt-4">
    <h2>Изменить компанию</h2>
    <div class="mb-3">
      <label for="name" class="form-label">Название:
        <input type="text" id="name" v-model="formData.name" class="form-control" required>
      </label>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Адрес:
        <input type="text" id="address" v-model="formData.address" class="form-control" required>
      </label>
    </div>
    <div class="mb-3">
      <label for="inn" class="form-label">ИНН:
        <input
          type="text"
          id="inn"
          v-model="formData.inn"
          class="form-control"
          required
          pattern="[0-9]{12}"
        >
      </label>
    </div>
    <div class="d-flex justify-content-start">
      <button type="submit" class="btn btn-primary me-2">Сохранить</button>
      <button type="button" class="btn btn-secondary" @click="goBack">Назад</button>
    </div>
  </form>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue';
import { Company } from '@/types';
import companyService from '@/services/companyService';
import router from '@/router';

export default defineComponent({
  name: 'CompanyForm',
  props: {
    id: {
      type: Number,
      default: null,
    },
  },
  setup(props) {
    const formData = reactive<Company>({
      id: null,
      name: '',
      address: '',
      inn: '',
    });

    const fetchCompanyData = async (id: number) => {
      try {
        const { data } = await companyService.get(id);
        formData.id = data.id;
        formData.name = data.name;
        formData.address = data.address;
        formData.inn = data.inn;
      } catch (error) {
        console.error('Error fetching company data:', error);
      }
    };

    if (props.id !== null) {
      fetchCompanyData(props.id);
    }

    const submitForm = async () => {
      try {
        if (formData.id) {
          await companyService.update(formData.id, formData);
          alert('Saved');
        } else {
          const { data: company } = await companyService.create(formData);
          router.push(`/companies/${company.id}`);
        }
      } catch (error) {
        console.error('Error submitting form:', error);
      }
    };

    const goBack = () => {
      router.push('/companies');
    };

    return {
      formData,
      submitForm,
      goBack,
    };
  },
});
</script>
