<!-- frontend/src/components/CompanyDetails.vue -->

<template>
  <div class="container mt-4">
    <h2>Информация о компании</h2>
    <div v-if="company" class="card">
      <div class="card-body">
        <p class="card-text"><strong>Название:</strong> {{ company.name }}</p>
        <p class="card-text"><strong>Адресс:</strong> {{ company.address }}</p>
        <p class="card-text"><strong>ИНН:</strong> {{ company.inn }}</p>
      </div>
    </div>
    <router-link to="/companies" class="btn btn-secondary mt-3">К списку</router-link>
  </div>
</template>

<script lang="ts">
import {
  defineComponent, ref,
} from 'vue';
import companyService from '@/services/companyService';
import { Company } from '@/types';

export default defineComponent({
  name: 'CompanyDetails',
  props: {
    id: {
      type: Number,
      default: null,
    },
  },
  setup(props) {
    const company = ref<Company | null>(null);

    const fetchCompanyDetails = async (id: number) => {
      try {
        const response = await companyService.get(id);
        company.value = response.data;
      } catch (error) {
        console.error('Error fetching company details:', error);
      }
    };

    fetchCompanyDetails(props.id);

    return {
      company,
    };
  },
});
</script>
